:root {
  /* colors */

  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-grayish-cyan: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-warning: rgba(255, 0, 0, 0.722);

  --fs-form-inputs: 24px;

  --fw-700: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove arrow from input with type number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  font-family: 'Space Mono', monospace;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-light-grayish-cyan);
  font-size: 1rem;
}

header {
  margin: 2rem;
}


.calculator-container {
  width: 100vw;
  /* max-width: 430px; */
  background-color: var(--clr-white);
  color: var(--clr-very-dark-cyan);
  border-radius: 20px 20px 0 0;
  padding: 2rem;
}

input,
label {
  display: block;
  margin-bottom: 0.5rem;
}

.calculator-container input {
  background-color: var(--clr-very-light-grayish-cyan);
  color: var(--clr-very-dark-cyan);
  border: none;
  border-radius: 3px;
  height: 3rem;
  max-height: 3rem;
  width: 100%;
  font-size: var(--fs-form-inputs);
  text-align: right;
  padding-right: 1rem;
  outline: none;
}

input::placeholder{
    color: var(--clr-grayish-cyan);
}

.calculator-container  input:focus{
  border: 2px solid var(--clr-strong-cyan);
}


.bill, .number-of-people{
    display: flex;
    flex-direction: column;
}

.bill-total-icon{
     background: url('./images/icon-dollar.svg') no-repeat left center;
     background-size: 15px;        
}

.people-icon{
    background: url('./images/icon-person.svg') no-repeat left center;
    background-size: 15px; 
}

.select-tip,
.number-of-people {
  margin-top: 2rem;
}

.select-tip__header {
  margin-bottom: 0.5rem;
}

.select-tip__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.select-tip__buttons button {
  border: none;
  height: 3rem;
  background-color: var(--clr-very-dark-cyan);
  color: var(--clr-white);
  border-radius: 5px;
  font-size: var(--fs-form-inputs);
  font-weight: 500;
}

button:hover {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-very-dark-cyan);
  cursor: pointer;
}

button:active, #reset-button:active {
  background-color: var(--clr-light-grayish-cyan);
  color: var(--clr-very-dark-cyan);
  cursor: pointer;
}

button.clicked {
  background-color: var(--clr-light-grayish-cyan);
  color: var(--clr-very-dark-cyan);
}

#custom-input {
  text-align: center;  
}

#custom-input::placeholder{
    font-size: 1.2rem;
}

/* activates when warning is displayed */
.warning-input{
 background-color: var(--clr-warning);
}

/* activates when number of people is 0 */
.warning{
  color: var(--clr-warning);
  margin-left: 1rem;
  font-size: 0.8rem;
}

.calculator-result {
  margin-top: 2rem;
  background-color: var(--clr-very-dark-cyan);
  color: var(--clr-white);
  border-radius: 15px;
  padding: 2rem 2rem;
}

.calculator-result__line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tiny-text {
  display: block;
  color: var(--clr-grayish-cyan);
  font-size: 0.8rem;
}

.result {
  font-size: 2rem;
  color: var(--clr-strong-cyan);
  font-weight: var(--fw-700);
}

#reset-button {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-very-dark-cyan);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

  #reset-button:disabled{
    background-color: var(--clr-dark-grayish-cyan);
    cursor: not-allowed;
  }

@media screen and (min-width: 800px) {
  body{
    font-size: 0.8rem;
    padding-top: 8rem;
  }

  .calculator-container {
    max-width: 850px;
    width: 85vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 1rem;
  }

  .calculator-data {
    width: 400px;
    height: 400px;
    margin: 1rem;
  }

  .calculator-result {
    width: 400px;
    height: 400px;
    margin: 1rem;
    padding-top: 5rem;
  }

  #reset-button {
    margin-top: 5rem;
  }

  .select-tip__buttons {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}
